
<% provide(:title, 'Course') %>

<center> <img src="http://i49.tinypic.com/2q9mazt.png" alt="" />
 

<center><div class="container">  
<ul class="thumbnails">  
        <li class="span6">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 1">  
            <div class="caption">  
              
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore       magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>  
          </div>  
        </li>  
        <li class="span6">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
            <p><a href="/users/2" class="btn btn-success">Enroll</a> </p>  
            </div>  
          </div> 
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
            <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>  
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
             <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>    
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
         <p><a href="#" class="btn btn-success">Enroll</a> </p>   
            </div>  
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
          <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>    
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
               <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>   
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
             <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>   
             <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>   
              <li class="span3">  
          <div class="thumbnail">  
            <img src="http://i47.tinypic.com/qsqbsi.png" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Enroll</a> </p>  
            </div>   

        </li>  
      </ul>  
  
      <hr>  
  


   
    </div>


</div>
</div>
      <%= render 'layouts/footer' %>
    </body>



    
