<% provide(:title, 'Video') %>
<body class="responsive">
<center>
	<div class="video-container">
	<iframe width="560" height="315" src="http://www.youtube.com/embed/KvkpI26mR3A?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<h3>"Ang pinagpalang misyon ko sa mundong ito ay magpasabog ng kaligayahan sa pamamagitan ng pag-ibig at gandang lalake." -Ramon Bautista</h3>
<h3>“Sadyang mailap ang humanap ng tunay na pag-ibig. Madaling sabihing mahal kita, madaling isiping mahal ka niya, pero paano mo malalamang... ito na, eto na talaga?” </h3>
<h3>Ramon Bautista is a self-proclaimed internet action star and next boyfriend material. He took up Film and Audio-Visual Communication in the University of the Philippines as his undergraduate course and pursued graduate studies in the same field. He is a university teacher, radio DJ, TV show host, film producer and commercial model.
</h3>
</center>
</body>