<% provide(:title, @title) %>
<body class="responsive">
<div class="row">
  <div class="span7 offset5 padding">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
</body>