<% @user ||= current_user %>
<center>
<div class="stats hiv span7">
  <div class="stats">
  <a href="<%=user_path(@user)%>">
    <strong id="microposts" class="stat">
      <%= @user.microposts.count %>
    </strong>
    posts
  </a> 

  <a href="<%= admirers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    admirers
  </a>
</div>
</center>
