<% content_for :side do %>

<section><%= render 'shared/user_info'%></section>
<section><%= render 'shared/stats' %></section>
<section><%= render 'shared/micropost_form' %></section>
<% end %>
<% content_for :main do %>
<h3><k>What's Happening</k></h3>
<%= render 'microposts/list', :microposts=> @feed_items, :show_user=> true %>
<% end %>